.navbar-custom {
    background-color: #960018 !important;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-nav .nav-link {
    color: #fff !important;
  }


  .carousel-item img {
    height: 510px; 
  }
  
  body {
    background-color: #3c0000;
    color: #fff;
  }
  
  .card1{
    text-align: center;
    background-color: #960018;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
 }
  
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #ebcf18 !important; 
    transition: color 0.3s ease; 
  }

  .card-noticia {
    background-color: #960018;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .card-noticia h5.card-title {
    margin-bottom: 10px;
  }

  .navbar-nav .nav-link {
    font-family:'Impact', sans-serif;
    font-size: 18px;
  }

  .fuente-custom {
    font-family: 'Impact', sans-serif;
    font-size: 25px;
  }

  .Fuente-Titulo {
    font-family: 'Impact', sans-serif;
    font-size: 20px;
  }

  .card-producto {
    background-color: #960018;
    color: #fff;
    }

  
  



  






 
  



 

